<div class="fem-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" *ngIf="selectedItem.id">{{ 'itemDetail.title.editItem' | translate:{value: originalName} }}</h2>
    <h2 class="mdl-card__title-text" *ngIf="!selectedItem.id">{{ 'itemDetail.title.createItem' | translate }}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form novalidate>
      <div class="mdl-textfield mdl-js-textfield">
        <label>{{ 'itemDetail.field.name' | translate }}</label>
        <input [(ngModel)]="selectedItem.name"
          name="name"
          placeholder="{{ 'itemDetail.field.name.placeholder' | translate }}"
          class="mdl-textfield__input"
          type="text">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label>{{ 'itemDetail.field.description' | translate }}</label>
        <input [(ngModel)]="selectedItem.description"
          name="description"
          placeholder="{{ 'itemDetail.field.description.placeholder' | translate }}"
          class="mdl-textfield__input"
          type="text">
      </div>
    </form>
  </div>
  <div class="mdl-card__actions">
    <button type="submit"
      (click)="cancelled.emit(selectedItem)"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">{{ 'itemDetail.button.cancel' | translate }}</button>
    <button type="submit"
      (click)="saved.emit(selectedItem)"
      class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">{{ 'itemDetail.button.save' | translate }}</button>
  </div>
</div>
