<div class="mdl-grid items">
  <div class="mdl-cell mdl-cell--6-col">
    <items-list [items]="items | async"
      (selected)="selectItem($event)" (deleted)="deleteItem($event)">
    </items-list>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <item-detail
      (saved)="saveItem($event)" (cancelled)="resetItem($event)"
      [item]="selectedItem | async">{{ 'itemsContainer.link.detail' | translate }}</item-detail>
  </div>
</div>
