<div *ngFor="let item of items" (click)="selectItem(item)"
  class="fem-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{item.name}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{item.description}}
  </div>
  <div class="mdl-card__menu">
    <button (click)="deleteItem(item, $event)"
      class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
