@import "../common.less";

:host {
  .flex-layout();
  header {
    .flex-horizontal-container();
    justify-content: flex-end;
    align-items: stretch;
    padding: 0px 25px;
    .buttons {
      margin-top: 11px;
      button:focus {
        outline: none;
      }
    }
  }
  footer {
    .flex-horizontal-container();
    justify-content: space-between;
    padding: 5px 10px;
    color: @colorFooter;
  }
}
