@backgroundBody: white;
@backgroundFooter: lightgrey;
@backgroundCardBody: lightgrey;
@backgroundCardHeader: grey;
@backgroundHeader: black;
@colorCardBorder: darkgrey;
@colorFooter: grey;
@colorHeader: grey;
@heightFooter: 30px;
@heightHeader: 52px;

.maximizeAbsolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}
.maximizeRelative {
	height: 100%;
 	width: 100%;
 	margin: 0;
 	padding: 0;
}

.flex-layout {
	.maximizeAbsolute();
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	> header {
		flex: 0 0 @heightHeader;
		border-radius: 0px !important;
		margin-bottom: 0px !important;
		overflow: hidden;
	}
	> section {
		flex: 1;
		overflow-y: auto;
	}
	> footer {
		flex: 0 0 @heightFooter;
	}
}

.flex-horizontal-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.flex-vertical-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
