@import "common.less";

html {
	.maximizeAbsolute();
	body {
		.flex-layout();
    > header {
      .flex-horizontal-container();
      padding: 0px 10px;
      height: @heightHeader;
      background-color: @backgroundHeader;
      color: @colorHeader;
      .title {
        font-size: 150%;
        a {
          color: @colorHeader;
        }
      }
    }
    > section {
      .flex-vertical-container();
      padding: 10px;
      background-color: @backgroundBody;
    }
    > footer {
      .flex-horizontal-container();
      justify-content: center;
      height: @heightFooter;
      padding: 5px 10px;
      background-color: @backgroundFooter;
      color: @colorFooter;
      .copyright {
          font-style: italic;
      }
    }
  }
}
